@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/9k-RPmcnxYEPm8CNFsH2gg.woff) format('woff');
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/wkfQbvfT_02e2IWO3yYueQ.woff) format('woff');
}
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 400;
  src: url(../fonts/oUan5VrEkpzIazlUe5ieaA.woff) format('woff');
}

.starter-template {
  padding: 40px 15px;
  text-align: center;
}

.intro, .menu, .instrucciones, .tablero, .modalidad, .datosGrupo, .preferencias, .creditos{
	position: relative;
}

.intro div div{
	text-align: center;
	margin-bottom: 50px;
}

.intro #inicio{
	position: relative;
	top:134px;
}

.menu, .instrucciones, .tablero, .modalidad, .datosGrupo, .preferencias, .creditos{
	display: none;
}

.instrucciones{
	padding: 0 40px;
}

.botones, .form, .opciones{
	width: 50%;
	margin:51px auto;
	text-align: center;
}

.tablero{
	padding: 14px;
}

.contenedorFichas, .contenedorTablero{
	padding: 0;
	float: left;
}

.contenedorTablero{
	float: right;
}


.contenedorTablero div div{
	background: url("../img/fondo.jpeg") no-repeat;
	background-size: cover;
}

.contenedorFichas div div{
	height: 65px;		
	border:solid;
}

.contenedorTablero div div{
	height: 97px;
	border:solid;
}

.page-header {
	padding-bottom: 0px;
	margin: 0px 0px 0px;
	border-bottom: 1px solid #0d747c;
}

.contenedorJuego{
	padding: 10px;
}

.contenedorJuego p {
	font-size: 16px;
}

#time{
	margin: 0 0 16;
	float: left;
}

#puntaje{
	margin: 0 0 16;
	float: right;
	text-align: right;
}

#circuitos{
	margin: 0 0 16;
	float: right;
}

.texto1, .texto2{
	font-size: 40px;
}

#contenedorFichas .img-responsive{
	top: 7px;
	position: relative;
}

#contenedorTablero .img-responsive{
	width: 85px;
	top: 24px;
	left: 17px;
	position: relative;
}

.modal{
	display: none;
}

.modal-body{
	text-align: center;
}

.label{
	font-size: 20px;
}

.informacion{
	text-align: center;
}

#nombre{
	margin-bottom: 30px;
}



